{
  "openapi": "3.1.0",
  "info": {
    "title": "Unstructured Pipeline API",
    "summary": "Partition documents with the Unstructured library",
    "version": "0.0.57"
  },
  "servers": [
    {
      "url": "https://api.unstructured.io",
      "description": "Hosted API",
      "x-speakeasy-server-id": "prod"
    },
    {
      "url": "http://localhost:8000",
      "description": "Development server",
      "x-speakeasy-server-id": "local"
    }
  ],
  "paths": {
    "/general/v0/general": {
      "post": {
        "tags": [
          "general"
        ],
        "summary": "Pipeline 1",
        "operationId": "partition",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_partition"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-speakeasy-name-override": "partition"
      }
    }
  },
  "components": {
    "schemas": {
      "Body_partition": {
        "properties": {
          "gz_uncompressed_content_type": {
            "type": "string",
            "title": "Uncompressed Content Type",
            "description": "If file is gzipped, use this content type after unzipping",
            "examples": [
              "application/pdf"
            ]
          },
          "files": {
            "items": {
              "type": "string",
              "format": "binary"
            },
            "type": "array",
            "title": "Files",
            "description": "The file to extract",
            "examples": [
              {
                "summary": "File to be partitioned",
                "externalValue": "https://github.com/Unstructured-IO/unstructured/blob/98d3541909f64290b5efb65a226fc3ee8a7cc5ee/example-docs/layout-parser-paper.pdf"
              }
            ]
          },
          "output_format": {
            "type": "string",
            "title": "Output Format",
            "description": "The format of the response. Supported formats are application/json and text/csv. Default: application/json.",
            "examples": [
              "application/json"
            ]
          },
          "coordinates": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Coordinates",
            "description": "If true, return coordinates for each element. Default: false",
            "default": []
          },
          "encoding": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Encoding",
            "description": "The encoding method used to decode the text input. Default: utf-8",
            "default": [],
            "examples": [
              "utf-8"
            ]
          },
          "hi_res_model_name": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Hi Res Model Name",
            "description": "The name of the inference model used when strategy is hi_res",
            "default": [],
            "examples": [
              "yolox"
            ]
          },
          "include_page_breaks": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Include Page Breaks",
            "description": "If True, the output will include page breaks if the filetype supports it. Default: false",
            "default": []
          },
          "ocr_languages": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Ocr Languages"
          },
          "pdf_infer_table_structure": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Pdf Infer Table Structure",
            "description": "If True and strategy=hi_res, any Table Elements extracted from a PDF will include an additional metadata field, 'text_as_html', where the value (string) is a just a transformation of the data into an HTML <table>.",
            "default": []
          },
          "skip_infer_table_types": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Skip Infer Table Types",
            "description": "The document types that you want to skip table extraction with. Default: ['pdf', 'jpg', 'png']",
            "default": [],
            "examples": [
              "pdf"
            ]
          },
          "strategy": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Strategy",
            "description": "The strategy to use for partitioning PDF/image. Options are fast, hi_res, auto. Default: auto",
            "default": [],
            "examples": [
              "hi_res"
            ]
          },
          "xml_keep_tags": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Xml Keep Tags",
            "description": "If True, will retain the XML tags in the output. Otherwise it will simply extract the text from within the tags. Only applies to partition_xml.",
            "default": []
          },
          "languages": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "OCR Languages",
            "description": "The languages present in the document, for use in partitioning and/or OCR"
          },
          "chunking_strategy": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Chunking Strategy",
            "description": "Use one of the supported strategies to chunk the returned elements. Currently supports: by_title",
            "default": [],
            "examples": [
              "by_title"
            ]
          },
          "multipage_sections": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Multipage Sections",
            "description": "If chunking strategy is set, determines if sections can span multiple sections. Default: true",
            "default": []
          },
          "combine_under_n_chars": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Combine Under N Chars",
            "description": "If chunking strategy is set, combine elements until a section reaches a length of n chars. Default: 500",
            "default": [],
            "examples": [
              500
            ]
          },
          "new_after_n_chars": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "New after n chars",
            "description": "If chunking strategy is set, cut off new sections after reaching a length of n chars (soft max). Default: 1500",
            "default": [],
            "examples": [
              1500
            ]
          },
          "max_characters": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Max Characters",
            "description": "If chunking strategy is set, cut off new sections after reaching a length of n chars (hard max). Default: 1500",
            "default": [],
            "examples": [
              1500
            ]
          }
        },
        "type": "object",
        "title": "Body_partition"
      },
      "HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "ValidationError": {
        "properties": {
          "loc": {
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "type": "array",
            "title": "Location"
          },
          "msg": {
            "type": "string",
            "title": "Message"
          },
          "type": {
            "type": "string",
            "title": "Error Type"
          }
        },
        "type": "object",
        "required": [
          "loc",
          "msg",
          "type"
        ],
        "title": "ValidationError"
      }
    }
  },
  "tags": [
    {
      "name": "general"
    }
  ],
  "x-speakeasy-retries": {
    "strategy": "backoff",
    "backoff": {
      "initialInterval": 500,
      "maxInterval": 60000,
      "maxElapsedTime": 3600000,
      "exponent": 1.5
    },
    "statusCodes": [
      "5xx"
    ],
    "retryConnectionErrors": true
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ]
}